*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");


:root {
    --normal-font-size: 1rem;
    --small-font-size: .75rem;

    --text-orage: #ff8303;

    --shadow-2xs: 0 1px 2px rgba(134, 144, 162, 0.1);
    --shadow-xs: 0 2px 4px rgba(134, 144, 162, 0.15);
    --shadow-sm: 0 3px 6px rgba(134, 144, 162, 0.2);
    --shadow-md: 0 4px 8px rgba(134, 144, 162, 0.25);
    --shadow-lg: 0 6px 12px rgba(134, 144, 162, 0.3);
    --shadow-xl: 0 12px 24px rgba(134, 144, 162, 0.35);
    --shadow-2xl: 0 24px 48px rgba(134, 144, 162, 0.4);
    
    --shadow-focus: 0 0 0 4px rgba(0, 84, 203, 0.2);
    --shadow-success: 0 0 0 4px rgba(18, 181, 57, 0.2);
    --shadow-warning: 0 0 0 4px rgba(210, 127, 0, 0.2);
    --shadow-danger: 0 0 0 4px rgba(203, 18, 0, 0.2);
    --shadow-info: 0 0 0 4px rgba(0, 200, 177, 0.2);
}

/* Ready to call CSS */
.f-d {
    font-size: var(--normal-font-size);
}
.f-s {
    font-size: var(--small-font-size);
}

.default-height-overflow {
    height: 75vh;
    overflow: auto;
}

.default-shadow {
    box-shadow: var(--shadow-md);
}

.ficon {
    color: #646165;
    padding: 2px;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Global CSS */
body {
    /* background-color: #e5e5e5; */
    font-family: 'Roboto', sans-serif;
}

/* Side Navigation CSS */

.sidenav {
    width: 280px;
    position: fixed;
    top: 0;
    left: -280px;
    bottom: 0;
    background-color: #ffffff;
    transition: 0.1s all;
    overflow-y: auto;
    border-right: 1px solid #f6f6f6;
}

.sidebar-open{
    left: 0;
}
.sidebar-open ~ .main-content {
    margin-left: 280px; 
}

.sidenav-category {
    width: 100% !important;
    padding: 5px;
}
.category-btn {
    padding: 12px;
    color: #4f4f4f;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-text {
    font-size: 14px;
    font-weight: 400;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    pointer-events: none;
}

.clink-text {
    text-decoration: none;
    color: #4f4f4f;

    padding: .6rem 2rem; 
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.clink-text-single {
    text-decoration: none;
    color: #4f4f4f;
}

.category-item {
    display: none;
}

.custom-category.active .category-item {
    display: block !important;
}

.custom-category.active #chevron {
    transform: rotate(-180deg) !important;
}

.category-item li {
    list-style: none;   
    padding: 10px 0;
    transition: .1s all ease-in
}

.category-btn:hover, .category-item li:hover {
    background: #f5f8fc;
    
}
.category-item li:hover {
    padding-left: .3rem; 
}



.category-item li::before {
    content: "\2022";
    color: #636363;
    padding-left: 1.2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.category-item li:hover::before {
    opacity: 1;
}





/* Input Custom CSS */
.input-cont {
    position: relative;   
    width: auto;
}

.input-box {    
    width: 100%;
    padding: .8rem 1rem;
    font-size: var(--small-font-size);
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    outline: none;
}

.input-label {
    font-size: 14px;
    color: #747474;
    position: absolute;
    top: 13px;
    left: 16px;
    pointer-events: none;
    transition: 0.2s;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.input-cont .input-box:focus ~ label, .input-cont .input-box:valid ~ label {
    font-size: 12px;    
    top: -8px;
}

/* Custom Select Style */

.custom-select {
    position: relative;   
    width: auto;
}

.select-btn {
    width: 100%;
    cursor: pointer;
    padding: .8rem .95rem;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-btn i {
    font-size: 20px;
}

.sbtn-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-menu {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 999;
    padding: 0;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.select-menu li {
    font-size: 14px;
    display: flex;
    cursor: pointer;
    padding: 5px 18px;
    border-radius: 3px;
}
.select-menu li:hover {
    background: #029c63;
    color: #fff;
}

.custom-select.active .select-menu {
    display: block;
}
.custom-select.active .select-btn i {
     transform: rotate(-180deg) ;
}

/* Custom Button */

.btnsm {
    
}

/* Custom Table Style */

.custom-table{
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 5px 8px;
    border-radius: 5px;
}

/* Main Content Style */

.main-content {
    transition: 0.1s all;
}

.side-header {
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #f6f6f6;
}

.btn-menu {
    padding: 10px;
    margin-left: 8px;
    outline: none;
    border: none;
    border-radius: 50%;

    color: #747474;
    font-size: 16px;
    background: none;
}

.btn-menu:hover {
    box-shadow: var(--shadow-sm);
}



/* Organization Management Style */

.page{
    padding: 12px;
}
.page-content {
    border: 1px solid #f6f6f6;
}


/* Media Queries */

@media only screen and (max-width: 540px) {
    .input-cont .input-box:focus ~ label, .input-cont .input-box:valid ~ label {
    }
    .btnsm {
        width: 50px !important;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 1980px) {
    
    .btnsm {
        width: 50px !important;
        margin-bottom: 5px;
    }
}